.todoFormContainer {
  margin-bottom: 30px;

  form {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  input {
    width: 45%;
    height: 49px;
    font-size: 1.3rem;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
  }
}
